<p-table [value]="budgets" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]=maxFileSize (onUpload)="onUpload($event)"></p-fileUpload>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-budget>
        <tr>
            <td> <p-button [routerLink]="['/detalhe', budget.code]" label="Editar" styleClass="p-button-warning"></p-button></td>
            <td>{{ budget.name }} </td>
            <td>{{ budget.category }}</td>
            <td>{{ budget.quantity }}</td>
        </tr>
    </ng-template>
</p-table>